body {
    font-size: 100%;
    font-family: monospace, sans-serif;
    width: 100%;
  }
  
  
  /* Beginning of Navbar CSS */
  body {
    background-color: #121212;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
  }
  .message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: 50px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 300;
  }
  .message-box h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  p:first-of-type {
    color: yellow;
  }
  .buttons-con .action-link-wrap {
    margin-top: 40px;
  }
  .buttons-con .action-link-wrap a {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
  }
  .buttons-con .action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
  }
  
  #Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
  }
  #Polygon-2 {
    animation-delay: .2s; 
  }
  #Polygon-3 {
    animation-delay: .4s; 
  }
  #Polygon-4 {
    animation-delay: .6s; 
  }
  #Polygon-5 {
    animation-delay: .8s; 
  }
  
  @keyframes float {
      100% {
      transform: translateY(20px);
    }
  }
  @media (max-width: 450px) {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -250px;
      margin-left: -190px;
    }
    .message-box {
      width:300px;
      top: 50%;
      left: 50%;
      margin-top: -230px;
      margin-left: -190px;
      text-align: center;
      padding: 40px;
    }
  .message-box h1 {
    font-size: 40px;
    margin: 0px 0 20px 0;
    line-height: 38px;
  }
  .message-box p {
    font-size: 12px;
  }
  .navbar {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 60px;
    width: 100%;
    background: #bbb;
    padding: 10px 20px;
    float: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    float: right;
    margin: 0px 10px;
  }
}